// 颜色定义
$color-primary: #3eb3e6;
$color-white: #ffffff;
$color-black: #000000;
$color-background: #eaeaea;
$color-border: #d9d9d9;
$color-font-weight: #333333;
$color-font-medium: #666666;
$color-font-light: #999999;
$color-success: #52c41a;
$color-warning: #faad14;
$color-error: #f5222d;
$color-strong: #d33443;
$color-scrollbar-thumb-bg: rgba(193, 193, 193, 0.6);

// 样式定义
// 通用
@mixin common {
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", 微软雅黑;
  }
}

// 滚动条
@mixin common-scroll {
  *::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  *::-webkit-scrollbar-track {
    background-color: $color-white;
  }
  *::-webkit-scrollbar-thumb {
    background-color: $color-scrollbar-thumb-bg;
    border-radius: 50px;
  }
  *::-webkit-scrollbar-corner {
    background-color: $color-white;
  }
}

// 宽度100%
@mixin w100 {
  .w100 {
    width: 100%;
  }
}

// 高度100%
@mixin h100 {
  .h100 {
    height: 100%;
  }
}

// 文本显示不完显示...
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
 * 文本多行显示不完显示...
 * @param $rows 最多显示行数
 */
@mixin texts-ellipsis($rows) {
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: #{$rows};
  overflow: hidden;
}

// flex布局
@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

// flex水平布局
@mixin flex-row {
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
}

// flex垂直布局
@mixin flex-column {
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
}

// flex主轴居中
@mixin flex-primary-axis-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

// flex主轴从前向后排
@mixin flex-primary-axis-start {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

// flex主轴从后向前排
@mixin flex-primary-axis-end {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

// flex主轴分居两边
@mixin flex-primary-axis-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

// flex主轴分居两边带空隙
@mixin flex-primary-axis-around {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

// flex次轴居中
@mixin flex-secondary-axis-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

// flex次轴从后向前排
@mixin flex-secondary-axis-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}

// flex次轴分居两边
@mixin flex-secondary-axis-between {
  -webkit-align-items: space-between;
  -moz-align-items: space-between;
  align-items: space-between;
}

// flex换行，第一行在上方
@mixin flex-wrap {
  flex-wrap: wrap;
}

// flex换行，第一行在下方
@mixin flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

// 过渡/动画
/*
 * 宽度过渡
 * @param $duration 完成时间
 */
@mixin transition-width($duration) {
  transition: width #{$duration} ease-in-out;
  -ms-transition: width #{$duration} ease-in-out;
  -moz-transition: width #{$duration} ease-in-out;
  -webkit-transition: width #{$duration} ease-in-out;
  -o-transition: width #{$duration} ease-in-out;
}

/*
 * 淡入
 * @param $duration 完成时间
 */
@mixin fade-in($duration, $delay: 0s) {
  animation: fade-in #{$duration} ease-in-out $delay both;
  -moz-animation: fade-in #{$duration} ease-in-out $delay both;
  -webkit-animation: fade-in #{$duration} ease-in-out $delay both;
  -o-animation: fade-in #{$duration} ease-in-out $delay both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
 * 从小变大 淡入
 * @param $duration 完成时间
 */
@mixin fade-scale-in($duration, $delay: 0s) {
  animation: fade-scale-in #{$duration} ease-in-out $delay both;
  -moz-animation: fade-scale-in #{$duration} ease-in-out $delay both;
  -webkit-animation: fade-scale-in #{$duration} ease-in-out $delay both;
  -o-animation: fade-scale-in #{$duration} ease-in-out $delay both;
}

@keyframes fade-scale-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-moz-keyframes fade-scale-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes fade-scale-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-o-keyframes fade-scale-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*
 * 点点点渐显
 * @param $duration 完成时间
 */
@mixin animate-dot($duration) {
  animation: dot-move #{$duration} infinite step-start;
  -moz-animation: dot-move #{$duration} infinite step-start;
  -webkit-animation: dot-move #{$duration} infinite step-start;
  -o-animation: dot-move #{$duration} infinite step-start;
}

@keyframes dot-move {
  0% {
    width: 0;
    margin-right: 1.5em;
  }
  33% {
    width: 0.5em;
    margin-right: 1em;
  }
  66% {
    width: 1em;
    margin-right: 0.5em;
  }
  100% {
    width: 1.5em;
    margin-right: 0;
  }
}

@-moz-keyframes dot-move {
  0% {
    width: 0;
    margin-right: 1.5em;
  }
  33% {
    width: 0.5em;
    margin-right: 1em;
  }
  66% {
    width: 1em;
    margin-right: 0.5em;
  }
  100% {
    width: 1.5em;
    margin-right: 0;
  }
}

@-webkit-keyframes dot-move {
  0% {
    width: 0;
    margin-right: 1.5em;
  }
  33% {
    width: 0.5em;
    margin-right: 1em;
  }
  66% {
    width: 1em;
    margin-right: 0.5em;
  }
  100% {
    width: 1.5em;
    margin-right: 0;
  }
}

@-o-keyframes dot-move {
  0% {
    width: 0;
    margin-right: 1.5em;
  }
  33% {
    width: 0.5em;
    margin-right: 1em;
  }
  66% {
    width: 1em;
    margin-right: 0.5em;
  }
  100% {
    width: 1.5em;
    margin-right: 0;
  }
}

/*
 * 滑动动效
 * @param
 *
*/
@mixin slideX {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -moz-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -webkit-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -o-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  &.slide-in{
    transform: translateX(0%);
    z-index: 20;
  }
}

// antdv ui
@mixin ant-collapse-header-background($backgroundColor) {
  .ant-collapse-header-background {
    .ant-collapse-header {
      background-color: #{$backgroundColor} !important;
    }
  }
}

@mixin ant-collapse-header-padding-top-bottom($px) {
  .ant-collapse-header-background {
    .ant-collapse-header {
      padding-bottom: #{$px}px !important;
      padding-top: #{$px}px !important;
    }
  }
}
