@mixin common {
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    font-family: "NSimSun", "Microsoft YaHei", "Helvetica Neue", Helvetica,
      "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
  }
}
// a标签
@mixin a-common {
  a {
    cursor: pointer;
    text-decoration: none;
    border: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 255);
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }
}
// input
@mixin input-common {
  input {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-appearance: none;
  }
  input::-ms-clear,
  input::-ms-reveal {
    display: none;
  }
}
// ul
@mixin ul-common {
  ul,
  li {
    list-style: none;
  }
}

/*
 * 文本显示不完显示...
 */
@mixin text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*
 * 文本显示不完显示...(自定义显示多少行)
 */
@mixin texts-ellipsis($rows) {
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: #{$rows};
  overflow: hidden;
}

/*
 * 滑动动效
 * @param
 *
*/
@mixin slideX {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transform: translateX(100%);
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -moz-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -webkit-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -o-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -ms-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  &.slide-in {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    opacity: 1;
    z-index: 3;
  }
}
@mixin slideX-reverse {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -moz-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -webkit-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -o-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  &.slide-in {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    opacity: 1;
    z-index: 3;
  }
}
@mixin slideY {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -moz-transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -webkit-transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -o-transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  &.slide-in {
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    opacity: 1;
    z-index: 3;
  }
}
@mixin slideY-reverse {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(100%);
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -moz-transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -webkit-transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -o-transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  &.slide-in {
    opacity: 1;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    z-index: 3;
  }
}

/*
 *无数据
*/
@mixin page-none-data {
  .none-data {
    font-size: 10px;
    color: #bbb;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// <template>
//   <div class="h100 w100 home">
//     <!-- 欢迎来到<span class="title">He-Cli！！</span> -->
//     <Echart :chartOpt="opt" />
//   </div>
// </template>

// <script>
// import Echart from "components/pub/Echart";
// export default {
//   components: {
//     Echart
//   },
//   data() {
//     return {
//       opt: {
//         xAxis: {
//           type: "category",
//           data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
//         },
//         yAxis: {
//           type: "value"
//         },
//         series: [
//           {
//             data: [150, 230, 224, 218, 135, 147, 260],
//             type: "line"
//           }
//         ]
//       }
//     };
//   }
// };
// </script>

// <style lang="scss" scoped>
// .home {
//   height: 500px;
//   line-height: 500px;
//   text-align: center;
//   font-size: 30px;
//   .title {
//     font-style: italic;
//     font-weight: 700;
//     color: #00bbe4;
//   }
// }
// </style>
